{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'profile/css/login.css' %}>
{% endblock head %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <main class="form-signin">
    {% if user.is_authenticated %}
        <p>Already in system</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
            {% comment %} <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> {% endcomment %}
            <i class="mb-4 bi bi-border-all" width="72" height="57"></i>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
            <input name="username" type="" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>
            {% comment %} <input name="grant_type" placeholder="Password">password</input> {% endcomment %}
            
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    {% endif %}
    </main>
{% endblock content %}
