{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Sudoku
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href={% static 'sudoku/css/sudoku_fields.css' %}>
    {% if DEBUG == True %}
      <script src="/static/vuejs/vue.global.js"></script>
    {% else %}
      <script src="/static/vuejs/vue.global.prod.js"></script>
    {% endif %}
{% endblock head %}

{% block content %}

    <div id="sudoku_div">
      <div id="sudoku_about">
        <h1>Sudoku puzzle solver</h1>
        <p>Put values 1-9 into cells and push solve button to solve sudoku.</p>
      </div>

      <div id="sudoku_puzzle">
        <form>
          {% csrf_token %}
            <sudoku-input></sudoku-input>
            
            <button type="submit" :disabled="disabled">Solve</button>
          </form> 

      </div>
  </div>
{% endblock content %}

{% block end_body %}
  <script src="/static/sudoku/js/index.js"></script>
{% endblock end_body %}