/* table{
    border: 1px solid grey;
    border-radius: 10px;
/* , th, td {
    border: 1px solid grey;
    border-radius: 10px; 
} */

/* th, table{
    border: 1px solid white;
    border-radius: 50px;
} */
/* border-top: 2px solid black */
/* td{
    border: 1px solid grey;
    border-radius: 50px;
} */
#sudoku_div{
  margin-top: 3vw;
  display: flex;
  justify-content:space-around; 
}
#sudoku_about{
 
}