{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Django Project
{% endblock title %}

{% block content %}
  <h1>Project At Work</h1>
  {% if user.is_authenticated %}
    <h4>
      <a href="/api/">swagger api</a>
    </h4>
    <p>You must login to see swager options. Permited users can use Bearer token to use api functions.</p>
    </br>
  {% endif %}
  <h4>
    <a href="/accounts/login/">login</a>
  </h4>
  </br>
  <h4>
    <a href="/sudoku/">sudoku</a>
  </h4>

{% endblock content %}
